<nav>
  <div name="header" class="nav-wrapper">
    <div class="container">
      <a class="brand-logo">GTM</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../signup">Registrarme</a></li>
      </ul>
    </div>
  </div>
</nav>

<div align="center">
  <h1> Ingresar</h1>
  <form id="login" method="post">
    <div class ="row">
      <div class ="col s3 offset-s1"><span class ="flow text">
        <label><h5>Username:</h5></label></span>
      </div>
      <div class ="col s4">
        <input type="text" placeholder="Username" name="username" required=""/>
      </div>
    </div>
    <div class="row">
      <div class ="col s3 offset-s1"><span class ="flow text">
        <label><h5>Password:</h5></label></span>
      </div>
      <div class ="col s4">
        <input type="password" placeholder="Password" name="password" required=""/>
      </div>
    </div>
    <div class="break"></div>
    <div class="row"></div>
    <div class="row">
      <button class="btn waves-effect waves-light teal" type="submit" name="action" value="Ingresar">INGRESAR
          <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

<script type="text/javascript">
  const formLogin = document.querySelector('#login')
  const formData = new FormData(formLogin)

  formLogin.addEventListener('submit', event => {
    event.preventDefault()
    fetch('/gtm/signin', {
      method: 'POST',
      body: formData
    })
    .then(res => res.json())
    .then(data => {
      localStorage.setItem('token', data.token)
    })
  })
</script>
