<nav>
  <div name="header" class="nav-wrapper">
    <div class="container">
      <a class="brand-logo">GTM</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../login">Iniciar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" align="center">
  <h1> Registrarme</h1>
  <form id="signup" method="post">
    <div class ="row">
      <div class ="col s6 offset-s3">
        <input type="email" placeholder="Correo" name="correo" required=""/>
      </div>
    </div>
    <div class="row">
      <div class ="col s6 offset-s3">
        <input type="text" placeholder="Nombre" name="nombre" required=""/>
      </div>
    </div>
    <div class ="row">
      <div class ="col s6 offset-s3">
        <input type="text" placeholder="Nombre de usuario" name="usuario" required=""/>
      </div>
    </div>
    <div class="row">
      <div class ="col s6 offset-s3">
        <input type="password" placeholder="Contraseña" name="contrasena" required=""/>
      </div>
    </div>
    <div class="row">
      <div class ="col s6 offset-s3">
        <input type="text" placeholder="Direccion" name="direccion" required=""/>
      </div>
    </div>
    <div class="row">
      <div class ="col s6 offset-s3">
        <input type="text" pattern="[\d]{7,10}" title="Ingrese un número telefónico válido" placeholder="Telefono" name="telefono" required=""/>
      </div>
    </div>
    <div class="row">
      <div class ="col s6 offset-s3">
        <input type="text" placeholder="Pais" name="pais" required=""/>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <select name="genero" required="">
          <option value="" disabled selected>Elige una opción</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Indefinidp">Indefinidp</option>
        </select>
        <label>Genero</label>
      </div>
    </div>
    <div class="break"></div>
    <div class="row"></div>
    <div class="row">
      <button class="btn waves-effect waves-light teal" type="submit" name="action" value="Ingresar" onclick="">REGISTRARME
          <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<script type="text/javascript">
  const formLogin = document.querySelector('#signup')
  const formData = new FormData(formLogin)

  formLogin.addEventListener('submit', event => {
    event.preventDefault()
    fetch('/gtm/signup', {
      method: 'POST',
      body: formData
    })
    .then(res => res.json())
  })
</script>
